<p id="notice"><%= notice %></p>

<h1>Facility Useds</h1>

<table>
  <thead>
    <tr>
      <th>Facility</th>
      <th>Visit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facility_useds.each do |facility_used| %>
      <tr>
        <td><%= facility_used.facility %></td>
        <td><%= facility_used.visit_id %></td>
        <td><%= link_to 'Show', facility_used %></td>
        <td><%= link_to 'Edit', edit_facility_used_path(facility_used) %></td>
        <td><%= link_to 'Destroy', facility_used, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facility Used', new_facility_used_path %>
