<%= form_with(model: visitor, local: true) do |form| %>
  <% if visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
      <% visitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :contact_number %>
    <%= form.number_field :contact_number %>
  </div>

  <div class="field">
    <%= form.label :loc_org %>
    <%= form.text_field :loc_org %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
