<%= form_with(model: visitor, local: true) do |form| %>
  <% if visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
      <% visitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Required fields are followed by <abbr title="Required">*</abbr></p>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :name %> <abbr title="Required" aria-label="required">*</abbr> <br />
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :contact_number %> <abbr title="Required" aria-label="required">*</abbr> <br />
      <%= form.number_field :contact_number, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :loc_org %> <br />
      <%= form.text_field :loc_org, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %> <hr>
  </div>
<% end %>
