<div class="container">
  <div class="row">
    <%= render '/layouts/alerts' %>

    <div id="personal-details" class="jumbotron">
      <p>
        <strong>Name:</strong>
        <%= @visitor.name %>
      </p>

      <p>
        <strong>Contact number:</strong>
        <%= @visitor.contact_number %>
      </p>

      <p>
        <strong>Location / Organisation:</strong>
        <%= @visitor.loc_org %>
      </p>
    </div>

    <p>Visits</p>

    <div>
      <div class="table-responsive text-nowrap">
      <% if @visitor.visits.empty? %>
        <p>No visits recorded yet.</p>
      <% else %>
        <table id="visits-table" class="display">
          <thead>
            <th>Purpose</th>
            <th>Time</th>
            <th>Temperature</th>
            <th></th>
            <th></th>
          </thead>

          <tbody>
            <%= render @visitor.visits %>
          </tbody>
        </table>
        <% end %>
        <%= link_to 'Add New Visit', new_visitor_visit_path(@visitor), class: 'btn btn-primary' %>
      </div>
    </div>

    <hr />

    <%= link_to 'Edit', edit_visitor_path(@visitor) %> |
    <%= link_to 'Back', visitors_path %>
