<!DOCTYPE html>
<html>
  <head>
    <title>NIPAM | Resource Pool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render '/layouts/header' unless current_uri == '/new' || current_uri == '/registers' ||  current_uri == '/register_names/new' ||  current_uri == '/register_contacts/new' ||  current_uri == '/register_temps/new' ||  current_uri == '/register_purposes/new' %>
    
    <div class="main">
      <%= yield %>
    </div>
    
    <%= render '/layouts/footer' unless current_uri == '/new' || current_uri == '/registers' ||  current_uri == '/register_names/new' ||  current_uri == '/register_contacts/new' ||  current_uri == '/register_temps/new' ||  current_uri == '/register_purposes/new' %>
  </body>
  
</html>
